{% extends 'base.html' %}
{% block title %}Home | BaseCars{% endblock title %}
{% block body %}

<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
 
        <span class="fs-4">Welcome to BaseCars!!!</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Range of Luxury Cars</h1>
        <p class="col-md-8 fs-4">At base cars You will a range of Luxurious cars to choose from, Check it out</p>
        
      </div>
    </div>
    

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Safe And Secure</h2>
          <p>All your Documents will be safe and secure with, None of your private information will get leaked.</p>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Clean and Hygenic Experience</h2>
          <p>All the Cars at BaseCars Are Sanatized and Hygenic, We prioritize your safety before anything else,
            
          </p>
          
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      © 2022
    </footer>
  </div>
    
{% endblock body %}

